.admin-page{
    height: 100%;
    text-align: center;

}

mat-sidenav-container{
    height: 100%;
     background-color: white;

    
}

mat-sidenav {
    width: 300px;
    height: 100%;
    background-color: #C8C9CD;
}

#contant{
    height: 100%;
    background-color:white;
}

button {
    margin: 20px 20px 20px 20px;
    width: 20%;
    height: 30px;
    border-color: 5px solid white;
    border-style: none;
    border-radius: 15px;
    background-color: #C8C9CD;
     color: white;
 }

button:hover {
    margin: 20px 20px 20px 20px;
    width: 20%;
    height: 30px;
    border-color: 5px solid #F9FFCB;
    border-style: none;
    border-radius: 15px;
    background-color: #F9FFCB;
     color: #3E4149;
 }

