
button {
    margin: 20px 20px 20px 20px;
    width: 20%;
    height: 30px;
    border-color: 5px solid white;
    border-style: none;
    border-radius: 15px;
    background-color: #C8C9CD;
    font-weight: bold;
    color: white;
    /* margin: 0px auto ; */
}

button:hover {
    margin: 20px 20px 20px 20px;
    width: 20%;
    height: 30px;
    border-color: 5px solid #F9FFCB;
    border-style: none;
    border-radius: 15px;
    background-color: #F9FFCB;
    font-weight: bold;
    color: #3E4149;
    /* margin: 0px auto ; */
}

#main-div {
    text-align: center;
    margin: 50px;
}
img {
    width: 30%;
}
